.img_wrap{
    align-self: stretch;
    height: inherit;
    margin: auto 0;
    z-index: 5;
}

.menu_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    background-color: white !important;
}
.action_bar{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.img_bar{
    height: 16.16%; 
    margin: 0 auto;

}

.wrap{
    height: 16.16%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

.img_wrap{
    align-self: stretch;
    height: inherit;
    margin: auto 0;
}

.font-awesome{
    font-size: 18;
}

.account_wrap{
    width: 90.1%;
}

.my{
    margin-top: 5%;
    color: #00687f;
}

.my_account{
    margin-top: 6%;
    font-size: 15;
}

TextField{
    height: 7%;
}

.login_btn{
    font-family: "Lato-Black";
    font-weight: bold;
}

Button{
    background-color: #1d5823;
    margin-top: 8%;
    width: 100%;
    color: #f3f3f3;
    height: 10%;
    font-size: 20;
  }

  #side_menu{
    background-color: #f3f3f3;
     font-family: "Lato-Semibold";
}

.username{
    color: #5f1842;
}

.menu_wrap{
    background-color: #fcfcfc;
    width: 90%;
    margin: 2px auto;
    padding: 10 0;
    padding-left: 10;   
}

.userwrap{
    width: 90%;
    padding: 10 0;
    padding-left: 10;   
}

.menu_wrap Label{
    margin-left: 5%;
}

.version{
    color: #5f1842;
    width: 90%;
    padding: 10 0;
    padding-left: 10;
    font-size: 12px;
}