<ScrollView>
<ActionBar>
    <NavigationButton></NavigationButton>
    <ActionItem>
        <Label text="&#xf0c9;" (tap)="toggle()" class="font-awesome"></Label>
    </ActionItem>
</ActionBar>
<RadSideDrawer #drawer [transition]="sideDrawerTransition" selectionBehavior="None">
  <StackLayout tkDrawerContent>
    <StackLayout [height]="height + 'px'" id="side_menu">
        <StackLayout class="userwrap">
            <Label text="Mr Alberto Beraudo" class="username"></Label>
            <Label text="MEMBER SINCE 2017" class="member"></Label>
        </StackLayout>
        <DockLayout class="menu_wrap">
            <Label text="&#xf017; " class="font-awesome"></Label>
            <Label text="MY OFFERS"></Label>
        </DockLayout>
         <DockLayout class="menu_wrap" (tap)="enterAccount()">
             <Label text="&#xf017; " class="font-awesome"></Label>
            <Label text="MY ACCOUNT"></Label>
        </DockLayout>
         <DockLayout class="menu_wrap">
             <Label text="&#xf017; " class="font-awesome"></Label>
            <Label text="MY FAVOURITES"></Label>
        </DockLayout>
        <DockLayout class="menu_wrap" (tap)="enterFeedback()">
            <Label text="&#xf017; " class="font-awesome"></Label>
            <Label text="LEAVE FEEDBACK"></Label>
        </DockLayout>
        <DockLayout class="menu_wrap">
            <Label text="&#xf017; " class="font-awesome"></Label>
            <Label text="DIRECTORY"></Label>
        </DockLayout>
        <DockLayout class="menu_wrap">
            <Label text="&#xf017; " class="font-awesome"></Label>
            <Label text="LOG OUT"></Label>
        </DockLayout>
        <Label text="App version: v2.0.1" class="version"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout tkMainContent>
    <StackLayout class="content">
            <FlexboxLayout [height]="width*0.3 + 'px'" class="menu_wrap" width="100%">
                <Label text="&#xf0c9;" (tap)="toggle()" class="font-awesome"></Label>
            </FlexboxLayout>
            <Image src="res://logo" horizontalAlignment="center" [marginTop]="-width*0.3 + 'px'" class="img_bar"></Image>
        <Label text="Nearby" class="heavy"></Label>
        <StackLayout height="165" (tap)="nextPage()">
            <Image class="stack_img" stretch="aspectFill" src="res://pizza"></Image>
            <DockLayout>
            <Label class="name" dock="left">
                <FormattedString>
                    <Span text="Na Pizz, " class="description"></Span>
                    <Span text="Riccone" class="desc_light" fontWeight="100"></Span>
                </FormattedString>
            </Label>
            <Label dock="right" class="right">
                  <FormattedString>
                    <Span text="&#xe901; " class="icomoon"></Span>
                    <Span text="&#xf21c; " class="font-awesome" id="midle"></Span>
                    <Span text="&#xf017; "  class="font-awesome"></Span>
                </FormattedString>
            </Label>
            </DockLayout>
            <Label text="1.2 km away" class="grey_text"></Label>
        </StackLayout>
        <StackLayout class="margin">
        <AbsoluteLayout height="165" class="not_active">
            <StackLayout width="100%">
                    <Image class="stack_img" stretch="aspectFill" src="res://cafe"></Image>
                    <DockLayout>
                        <Label class="name" dock="left">
                            <FormattedString>
                                <Span text="Fratelli La Bufala, " class="description"></Span>
                                <Span text="Milano" class="desc_light" fontWeight="100"></Span>
                            </FormattedString>
                        </Label>
                        <Label dock="right" class="right">
                            <FormattedString>
                                <Span text="&#xe901; " class="icomoon"></Span>
                                <Span text="&#xf21c; " class="font-awesome" id="midle"></Span>
                                <Span text="&#xf017; "  class="font-awesome"></Span>
                            </FormattedString>
                        </Label>
                    </DockLayout>
                    <Label text="2.1 km away" class="grey_text"></Label>
                </StackLayout>
                <StackLayout class="grey_stack">
                    <Label text="COMING SOON" class="rotate"></Label>
                </StackLayout>
                
        </AbsoluteLayout>
            </StackLayout>
        
                 <StackLayout height="165">
            <Image class="stack_img" stretch="aspectFill" src="res://pizza"></Image>
            <DockLayout>
            <Label class="name" dock="left">
                <FormattedString>
                    <Span text="Na Pizz, " class="description"></Span>
                    <Span text="Riccone" class="desc_light" fontWeight="100"></Span>
                </FormattedString>
            </Label>
            <Label dock="right" class="right">
                  <FormattedString>
                        <Span text="&#xe901; " class="icomoon"></Span>
                    <Span text="&#xf21c; " class="font-awesome" id="midle"></Span>
                    <Span text="&#xf017; "  class="font-awesome"></Span>
                </FormattedString>
            </Label>
            </DockLayout>
            <Label text="1.2 km away" class="grey_text"></Label>
        </StackLayout>
</StackLayout>   
  </StackLayout>
</RadSideDrawer>
</ScrollView>