<ScrollView style="margin-top: -64">
    <ActionBar title="">
        <NavigationButton></NavigationButton>
        <ActionItem  ios.position="right">
            <Label text="&#xf08a;" class="font-awesome heart"></Label>
        </ActionItem>
    </ActionBar>
    <StackLayout>
        <StackLayout>
          <Image src="res://pizza_back" id="img"></Image>
          <Card:CardView id="whiteWrap" class="whiteCard" shadowOffsetWidth="0" shadowOffsetHeight="0" shadowRadius="3">
            <StackLayout  class="white" >
                <Image src="res://pizza_logo" class="pizza_logo"></Image>
                <Border borderRadius="0" #white borderWidth="0.1" borderColor="#afafaf">
                </Border>
                <Label text="Na Pizz, Riccone" class="name"></Label>
            </StackLayout>
            </Card:CardView >
            <FlexboxLayout class="wrap" id="wrap">
                <Label text="REWARDS" (tap)="show= 'rewards'" [ngClass]="{selected: show === 'rewards'}"  class="test long"></Label>
                <Label text="MENU" (tap)="show= 'menu'" [ngClass]="{selected: show === 'menu'}" class="test"></Label>
                <Label text="BASKET" (tap)="show= 'basket'"  [ngClass]="{selected: show === 'basket'}" class="test"></Label>
                <Label text="INFO" (tap)="show= 'info'" [ngClass]="{selected: show === 'info'}" class="test"></Label>
            </FlexboxLayout>
            <Card:CardView class="whiteCard" shadowOffsetWidth="0" shadowOffsetHeight="0" shadowRadius="3">
            <StackLayout *ngIf="show === 'rewards'" class="points">
                <WrapLayout class="points_wrap">
                    <StackLayout class="points_1">
                        <Image src="res://pizza_logo" class="points_logo"></Image>
                        <Label text="POINTS" class="points_sign"></Label>
                    </StackLayout>
                    <StackLayout class="points_2">
                        <Label text="You have earned" class="points_desc"></Label>
                        <Label text="1,250 POINTS" class="points_desc bold"></Label>
                        <Label text="with value of" class="points_desc"></Label>
                        <Label text="€12" class="points_desc bold"></Label>
                    </StackLayout>
                </WrapLayout>
            </StackLayout>

            </Card:CardView >
            <Image  *ngIf="show === 'rewards'" src="res://cake" class="cake_img"></Image>
            <Label text="STARTERS" *ngIf="show === 'menu'" class="menu_header"></Label>
            <StackLayout *ngIf="show === 'menu'" class="menu">
                <StackLayout *ngFor="let item of starters" (tap)="getView(item)">
                    <DockLayout  class="menu_item">
                        <Label [text]="item.name" class="item_name"></Label>
                        <Label [text]="item.price" class="item_l" fontFamily="Lato-Black"></Label>
                    </DockLayout>
                    <Label [text]="item.desc" class="desc"></Label>
                </StackLayout>
                <Label text="MAIN" *ngIf="show === 'menu'" class="menu_header"></Label>
                <StackLayout *ngFor="let item of main" (tap)="startOrder = true">
                    <DockLayout class="menu_item">
                        <Label [text]="item.name" class="item_name"></Label>
                        <Label [text]="item.price" fontFamily="Lato-Black" class="item_l"></Label>
                    </DockLayout>
                    <Label [text]="item.desc"  class="desc"></Label>
                </StackLayout>
            </StackLayout>
            <Card:CardView *ngIf="startOrder === true" [marginTop]="whiteCardHeight" shadowOffsetWidth="0" shadowOffsetHeight="0" shadowRadius="3" class="whiteCard">
            <FlexboxLayout *ngIf="startOrder === true" [height]="(screen.height * 0.79)+'px'" class="order_container">
                    <StackLayout>
                        <StackLayout *ngIf="select !== 3">
                        <Label text="START AN ORDER" *ngIf="select < 3" class="order_picker"></Label>
                        <Label text="Please select an order type" class="order_sign" [marginTop]="screen.heightPercent * 4 + 'px'"></Label>
                        <DockLayout #ordertype   *ngIf="select !== 1" (tap)="select = 1" class="order_type" id = "order" [marginTop]="screen.heightPercent * 6 + 'px'">
                            <Label [text]="selectedOrder"></Label>
                            <Label text="&#xf0d7;" class="font-awesome"></Label>
                        </DockLayout>

                        <Label text="ADD TO ORDER" *ngIf="select > 2" class="order_picker"></Label>

                        <StackLayout *ngIf="select === 1" style="margin-top: -80px" class="order_list">
                            <ListPicker #picker
                            [selectedIndex]="selectedIndex"  
                            (selectedIndexChange)="selectedIndexChanged(picker)"
                            (tap)="selectOrder(picker)"
                            [items]="orederList"
                            ></ListPicker>
                        </StackLayout>
                        <DockLayout #ordertype  *ngIf="select > 1 && select < 3" class="order_type" id = "table" [marginTop]="screen.heightPercent * 6 + 'px'">
                            <Label text="Select table"></Label>
                            <Label text="&#xf0d7;" class="font-awesome"></Label>
                        </DockLayout>
                        </StackLayout>
                        <StackLayout *ngIf="select === 3">
                            <Label text="ADD TO ORDER"  class="order_picker extras"></Label>
                            <Label text="Pizza Margarita" class="order_name extras"></Label>
                            <Label text="Product description goes here" marginTop="20px" class="order_desc extras"></Label>
                            <Label text="ADD EXTRAS" class="order_extra"></Label>
                            <DockLayout *ngFor="let item of selectedItem.extras" class="extras">
                                <StackLayout class="check_wrap">
                                <CheckBox  checked="false" fontSize="15" class="checkbox"></CheckBox>
                                </StackLayout>
                                <Label [text]="item" class="item_extra"></Label>
                                <Label text="+ €1.29" class="item_extra check"></Label>
                            </DockLayout>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout   class="wrap_btn">
                        <Button text="START ORDER" *ngIf="select === 2" class="add_order" (tap)="select= select = 3" [height]="(screen.height * 0.085)+'px'"></Button>
                        <Button text="ADD TO ORDER" *ngIf="select === 3" class="add_order" (tap)="select= select = 3" [height]="(screen.height * 0.085)+'px'"></Button>
                    </StackLayout>
            </FlexboxLayout>
            </Card:CardView>

            <StackLayout *ngIf="show === 'basket'" class="menu">
                <StackLayout class="coll">
                    <Label text="COLLECTION ORDER" class="header_order"></Label>
                    <Label text="Collection time: 11:30am" class="time"></Label>
                </StackLayout>
                <DockLayout class="veg_oreder">
                    <Label text="1x Vegetable House Breakfast" class="time"></Label>
                    <Label text="€6.50" class="basket_price"></Label>
                </DockLayout>
                <Label text="EGG COOKING: OVER EASY" class="grey_text first"></Label>
                <Label text="BREAD TYPE: BROWN" class="grey_text"></Label>
                <DockLayout>
                    <Label text="Discount" class="discount"></Label>
                    <Label text="-€1.00" class="price discount"></Label>
                </DockLayout>
                <DockLayout>
                    <Label text="TOTAL" class="discount"></Label>
                    <Label text=" €5.50" class="price discount"></Label>
                </DockLayout>
                <DockLayout class="discount">
                    <CheckBox checked="false" color="#000000" fillColor="#ffffff"></CheckBox>
                    <Label text=" I’ve double checked my order"></Label>
                </DockLayout>
            </StackLayout>
            
            <StackLayout *ngIf="show === 'info'" class="menu">
                <Label text="Opening Times" class="open_t"></Label>
                <DockLayout class="day_info">
                    <Label text="Monday - Friday"></Label>
                    <Label text="9:00 - 17:00" class="time_info"></Label>
                </DockLayout>
                <DockLayout class="day_info">
                    <Label text="Saturday"></Label>
                    <Label text="9:00 - 16:00" class="time_info"></Label>
                </DockLayout>
                <DockLayout class="day_info">
                    <Label text="Sunday"></Label>
                    <Label text="11:00 - 15:00" class="time_info"></Label>
                </DockLayout>
                <Label text="Location" class="loc"></Label>
                <Label text="Viale M. Ceccarini, 192, 47838 Riccione RN, Italy" class="adress"></Label>
                <GridLayout>
                    
                    <MapView class="maps" width="100%" zoom="17" latitude="43.9971784" longitude="12.6520116" height="400px" (mapReady)="onMapReady($event)"></MapView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>