.img_wrap{
    align-self: stretch;
    height: inherit;
    margin: auto 0;
    z-index: 5;
}

.menu_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.menu_wrap Label{
    margin-left: 5%;
}

.text_wrap{
    font-size: 18;
}

.img_bar{
    height: 16.16%; 
    margin: 0 auto;

}

.wrap{
    height: 16.16%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

#picker{
    margin-top: 4%;
}

.img_wrap{
    align-self: stretch;
    height: inherit;
    margin: auto 0;
    z-index: 10;
}

.font-awesome{
    font-size: 18;
}

.feed{
    color: #006f85;
    font-family: "Lato-Semibold";
    margin-top: 8%;
    margin-bottom: 4%;
}


TextView{
    font-family: "Lato-Semibold";
    margin-top: 1%;
}

.feedback_wrap{
    width: 90.1%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.restrant_picker{
    font-family: "Lato-Light";
    width: 85%;
    text-align: left;
    margin: 0 !important;
}

#down{
    text-align: right;
}
.test{
    width: 85%;
}

first_star{
    background-color: gold;
}

.star_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.star{
    margin: 0 1%;
}

.stars{
    text-align: right
}

.star_desc,.comments{
    font-family: "Lato-Black";
    font-size: 15;
}

.star_wrap{
    margin-top: 3.7%;
}

.comments{
    margin-top: 8%;
}

.rest{
    font-family: "Lato-Light";
}

#submit{
    width: 100%;
    margin-top: 3%;
}

.login_btn{
    font-family: "Lato-Black";
    font-weight: bold;
}

Button{
    background-color: #1d5823;
    margin-top: 4%;
    width: 90.1%;
    color: #f3f3f3;
    height: 10%;
    font-size: 20;
  }

  #side_menu{
    background-color: #f3f3f3;
     font-family: "Lato-Semibold";
}

.username{
    color: #5f1842;
}

.menu_wrap{
    background-color: #fcfcfc;
    width: 90%;
    margin: 2px auto;
    padding: 10 0;
    padding-left: 10;   
}

.userwrap{
    width: 90%;
    padding: 10 0;
    padding-left: 10;   
}

.version{
    color: #5f1842;
    width: 90%;
    padding: 10 0;
    padding-left: 10;
    font-size: 12px;
}